table{
    width: 860px;
    height: 500px;
    font-family: Arial;
    font-size: 25px;
    background-color: #9EA7AF;
}

td {
    color: #9598A9;
}

th{
    padding-left: 20px;
    font-weight: normal;
}

thead > tr {
    background-color: #1B1E24;
    color: #C6CDD5;
    text-align: left;
    height: 70px;
    
}

.container{
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: #3E94EC;
    align-items: center;
    justify-content: center;
}

tbody > tr {
    color: #6C718A;
}

.row{
    background-color:#EBEBEB;
}

.even{
    background-color:#fff;
}

.myClass:before {
    content: attr(data-currency);
    margin-left: 20px;
   }

.myClass:after {
    content: ".00";
   }

.month{
    padding-left: 20px;
   }
