table{
    width: 860px;
    height: 500px;
    font-family: Arial;
    font-size: 25px;
    background-color: #9EA7AF;
}

th{
    padding-left: 20px;
    font-weight: normal;
    border-bottom: 4px solid #9EA7AF;
}

.container{
    display: flex;
    width: 1000px;
    height: 600px;
    background-color: #3E94EC;
    align-items: center;
    justify-content: center;
}

tr:nth-child(even){
    background-color:#fff;
    color: #85899D;
}

tbody > tr:nth-child(odd){
    background-color:#EBEBEB;
    color: #666B85;
}

thead > tr {
    background-color: #1B1E24;
    color: #C6CDD5;
    text-align: left;
    height: 70px;  
}

.myClass:before {
    content: attr(data-currency);
    margin-left: 20px;
   }

.myClass:after {
    content: ".00";
   }

.month{
    padding-left: 20px;
   }


