<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>Audio player</title>
</head>

<body>
    <div class="container">
        <div class="logo">
            <img src="/images/foxplayer.png" alt="Foxplayer" height="72" width="72">
        </div>

        <div class="controlpanel">
            <audio id="player">
                <source>
            </audio>
            <div class="controllers">
                <button onclick="document.getElementById('player').currentTime -= 10">
                    <img src="/images/rewind.svg" />
                </button>
                <button onclick="document.getElementById('player').play()">
                    <img src="/images/play.svg" />
                </button>
                <button onclick="document.getElementById('player').pause()">
                    <img src="/images/pause.svg" />
                </button>
                <button onclick="document.getElementById('player').currentTime += 10">
                    <img src="/images/forward.svg" />
                </button>
            </div>
            <div class="slider">
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
            <div class="volume">
                <button onclick="document.getElementById('player').volume += 0.1">Vol+ </button>
                <button onclick="document.getElementById('player').volume -= 0.1">Vol- </button>
            </div>
        </div>
        <div class="playlists">
            <h1>Playlists</h1>
            <button id="myBtn">
                <img src="/images/add.png" width=30px; height=30px;>
            </button>
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <p>Playlist</p>
                    <form>
                        <input type="text" id="playlist" name="playlist" value="">
                        <button class="modalButton" type="submit" form="form1" value="Submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="new"></div>
        </div>
        <div class="current">
            <p></p>
            <img class="image" src="/images/add.png" onclick=myFunction() alt="star" height="30" width="30">
            <img class="image" src="/images/star.svg" onclick=myFunction() alt="star" height="20" width="20">
        </div>
        <div class="tracks">
            <ol></ol>

        </div>



    </div>
    <script src="/frontend.js"></script>
</body>

</html>