.container {
    display: flex;
    align-items: center;
}
  
.item {
    align-self: flex-end;
    width: 200px;
    height: 200px;
}

.green {
    background-color: #51d400;
}

.yellow {
    background-color: #ffd62f;
}

.purple {
    background-color: #B02aff;
}