<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="addpost.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&display=swap" rel="stylesheet">
    <title>Add a Post</title>
</head>

<body>
    <header>
        <img src="images/big.jpg" alt="Space">
    </header>
    <div class="container">
        <form action="/posts" method="POST">
            <div class="square">
                <div class="form title">
                    <label for="title">title</label>
                    <textarea type="text" id="title" name="title" required></textarea>
                    <div class="form url">
                        <label for="url">URL</label>
                        <input type="url" id="url" name="url" required>
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="submit">SUBMIT</button>
            </div>
    </div>
    </form>

    </div>

    </aside>
    </div>
</body>

</html>