.container{
    display: flex;
    flex-direction: column;
    background-color: #313841;
    height: 400px;
    width: 600px;
    align-items: center;
    justify-content: center;
    margin: 50px auto 0 auto;
}

label[for~="delete"] {
    background-color: #F34541;
    color: #FDD3D1;
  }

label[for~="confirm"] {
    background-color: #38BA7D;
    color: #B1F1D2;
  }

label[for]{
    margin: 30px;
    font-size: 13px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
}

.first .far{
    width: 20px;
    height: 20px;
    color: #A1A4A8;
}

.second .far{
    width: 20px;
    height: 20px;
    color: #C13E3C;
}

button{
    background-color: #1C242B;  
    border: hidden; 
    height: 35px;
}

button .fas{
    width: 20px;
    height: 20px;
}

.second{
    background-color: #F34541; 
}

.check{
    background-color: #38BA7D;
}
div{
    margin-top: 20px;
    height: 35px;
    width: 180px;
}

.fas:hover{
    background-color: white;
}

.second .far:hover{
    background-color: white;
}
